certifi==2021.10.8
cffi==1.15.1
click==8.0.4
colorama==0.4.4
coverage==6.4.1
cryptography==38.0.4
distlib==0.3.4
filelock==3.7.1
Flask==1.0
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.1.0
nltk==3.7
platformdirs==2.5.2
pycparser==2.21
PyMySQL==1.0.2
pyOpenSSL==22.1.0
pytoml==0.1.21
regex==2022.1.18
six==1.16.0
termcolor==1.1.0
tqdm==4.62.3
virtualenv==20.14.1
Werkzeug==2.0.3
